#myAlbum-menu1{
	display: block;
}
#myAlbum-menu2{
	display: none;
}
.album-sort{
	width: 170px;
    margin-top: 6px;
    position: absolute;
	z-index:100;
	display: none;
}
.album-sort .album-sort-li{
	border: 1px solid #CCCCCC;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	background: #fff;
	color: #9999B1;
	cursor: pointer;
}
.uploadPhoto5:hover .album-sort{
	display: block;
}
.album-sort .album-sort-li:hover{
	color:#000;
}
/***************************************************content1、**************************************************************/
#myAlbum-content{
	display: block;
}
.content-about{
	margin-left: 25px;
	width: 100%;
	background: #FAFAFA;
}
.content-about .content-about-li{
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	position: relative;
}
.content-about .content-about-li img{
	width: 230px;
	height: 330px;
	background: #fff;
}
.content-about .content-about-li-top{
	top:0;
    height: 330px;
    position: absolute;
    width: 230px;
}
.content-about .content-about-li-top .content-about-li-top-a{
	width: 100%;
	height: 250px;
	padding-left: 10px;
	padding-top: 80%;
}
.content-about .content-about-li-top .content-about-li-top-a a{
	border: 1px solid #fff;
	border-radius: 50%;
	display: block;
	opacity: 0;
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 48px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.content-about .content-about-li-top .content-about-li-top-a .icon1{
	font-size: 18px;
	line-height: 30px;
}
.content-about .content-about-li-top .content-about-li-top-a .icon2{
	margin-top: -15px;
	margin-left: 25px;
	margin-right: 0px;
	font-size: 24px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.content-about .content-about-li-top .bottun-title{
	width: 100%;
	padding-left: 15px;
	height: 60px;
	float: left;
	padding-top: 5px;
	color: #787878;
}
.theme{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.content-about .content-about-li-top .bottun-title .bottun-title-p1{
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	color:#D84C31;;
}
.content-about .content-about-li-top .bottun-title .bottun-title-p2{
	font-size: 12px;

}
.content-about .content-about-li-top:hover{
	background: #000;
	opacity: 0.5;
}
.content-about .content-about-li-top:hover .content-about-li-top-a a{
	opacity: 1;
}
.content-about .content-about-li-top .content-about-li-top-a a:hover{
	background: #fff;
	color: #454545;
}
.content-about .content-about-li-top:hover .bottun-title{
	color: #fff;
}
.content-about .content-about-li-top:hover .bottun-title-p1{
	color: #fff;
}
.content-about .content-about-li-top .bottun-title .bottun-title-p1:hover{
	text-decoration: underline;
}
/***************************************************content2、**************************************************************/
#myAlbum-content2{
	display: none;
}
.content-about2{
	margin-left: 25px;
	width: 100%;
	background: #FAFAFA;
}
.content-about2-li{
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
	width: 245px;
	height: 245px;
	overflow: hidden;
}
.content-about2 .content-about2-li img{
	/*width: 250px;
	height: 250px;*/
	width: 100%;
	height: 100%;
	background: #fff;
}
.content-about2-li span{
	font-size: 24px;
	color: #8b8be8;
	background: rgb(255, 255, 255);
	border-radius: 50%;
}
.photo-admin{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 60;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	display: none;
}

/*****************************************************button*************************************************/
#open2{
	display: none;
}
/*#open2{
	display: none;
}
.content-button{
	width: 100%;
	float: left;
	text-align: center;
	bottom: 50px;
	margin-top: 25px;
}
.content-button .content-button-fenge{
	height: 1px;
	width: 100%;
	background: #E8E8E8;
	float: left;
}
.content-button span{
	text-align: center;
	font-size: 12px;
	color: #99B3D4;
}

/***************************************************弹窗1、**************************************************************/
#upload-photos{
	display: none;
}
.upload-photos{
	position:absolute;
	left:2%; 
	top:5%;
	z-index: 50;
	width: 96%;
	height: 92%;
	bottom: 5%;
}
.upload-photos-pop{
	width: 100%;
	height: 100%;
	left: 5%;
	top:5%; 
}
.upload-photos .upload-photos-pop .upload-photos-pop-header{
	height: 60px;
	width: 100%;
	background: #fff;
	border:1px solid #EEE;
}
.upload-photos .upload-photos-pop .upload-photos-pop-header span{
	font-size: 24px;
	line-height: 60px;
	margin-left: 10px;
}
.upload-photos .upload-photos-pop .upload-photos-pop-header i{
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	right: 15px;
	line-height: 60px;
	color: #CCCCCC;
	cursor: pointer;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content{
	background: #F5F5F5;
	width: 100%;
	height: 90%;
	text-align: center;
	position: relative;
}
.upimgcontent{
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
	overflow: auto;
	width: 100%;
	height: 546px;
}
.upimgcontent .img-wrap{
	width: 170px;
	float: left;
	height: 180px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}
.upimgcontent .img-wrap img{
	width: 100%;
	height: 100%;
}
.upimgcontent .img-wrap .close{
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}
.img-button{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom:0px;
	text-align: center;
	display: none;
	background:#000;
    opacity:0.6;
}
.img-button p{
	color: #fff;
	font-size: 18px;
}
.upimgcontent .img-wrap:hover .close{
	display: block;
}
/*.upimgcontent .img-wrap:hover{
	background:#000;
    opacity:0.9;
}*/
.upimgcontent .img-wrap:hover .img-button{
	display: block;
}
.inputfile {
    opacity: 0;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content .upload-photos-pop-content-button{
	background: #00A8D8;
	width: 180px;
	height: 50px;
	border-radius: 2%;
	position: absolute;
	margin-top: -18%;
	margin-left: -7%;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content .upload-photos-pop-content-button p{
	font-size: 20px;
	color: #fff;
	line-height: 50px;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content .upload-photos-pop-content-footer{
	height: 60px;
	width: 100%;
	border:1px solid #EEE;
	background: #DADADA;
	position: absolute;
	bottom: 0px;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content .upload-photos-pop-content-footer span{
	color: #9999B1;
	line-height: 55px;
	font-size: 16px;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content .upload-photos-pop-content-footer2{
	height: 60px;
	width: 100%;
	border:1px solid #EEE;
	background: #fff;
	position: absolute;
	bottom: 0px;
	display: none;
	text-align: left;
}
.upload-photos .upload-photos-pop .upload-photos-pop-content .upload-photos-pop-content-footer2 span{
	color: #9999B1;
	line-height: 55px;
	font-size: 16px;
	margin-left: 20px;
}
.footer-button1{
	position: absolute;
	right: 247px;
	bottom: 10px;
}
.footer-button2{
	position: absolute;
	right: 120px;
	bottom: 10px;
}
.send-style-li1{
    position: absolute;
    right: 120px;
    top: -52px;
    width: 110px;
    display: none;
    z-index: 100;
}
.send-style-li2{
    position: absolute;
    right: 120px;
    top: -19px;
     width: 110px;
     display: none;
     z-index: 100;
}
#logOutTime{
    position: absolute;
    right: 20px;
    top: -26px;
    display: none;
    z-index: 50;
}
#nowTime{
	display: none;
}
 .footer-button3{
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.send-style:hover .send-style-li1{
	display: block;
}
.send-style:hover .send-style-li2{
	display: block;
}

/***************************************************弹窗2、**************************************************************/
#upload-photos-choose{
	position:absolute;
	left:40%;
	top:38%;
	z-index: 70;
	width: 350px;
	height: 180px;
	bottom: 5%;
	display: none;
	background: #fff;
	border-radius: 0.5%;
}
.upload-photos-choose .select-first{
	margin-left: 20px;
	width: 260px;
	height: 40px;
	float: left;
	padding-left: 10px;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	font-size: 18px;
	color: #976666;
	line-height: 40px;
}

.upload-photos-choose .select-right{
	width: 50px;
	height: 40px;
	float: left;
	padding-left: 16px;
	line-height: 40px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.upload-photos-choose .select-right span{
	color: #E0E0E0;
}
#upload-menu-group{
	display: none;
}
.upload-menu-group{
	width: 310px;
	position: absolute;
	top:105px;
	right: 20px;
	z-index: 150;
}
.upload-menu-group-li{
	width: 100%;
	padding-left: 10px;
	height: 40px;
	border: 1px #DDD solid;
	font-size: 18px;
	color: #787878;
	line-height: 40px;
	background: #fff;
	cursor: pointer;
}
.upload-menu-group .upload-menu-group-li:hover{
	background: #FAFAFA;
}
.upload-photos-choose .select-button{
	background: #00A8D8;
	width: 80px;
	height: 35px;
	border-radius: 2%;
	position: absolute;
	margin-top: 17%;
	margin-left: 39%;
	text-align: center;
	cursor: pointer;
}
.upload-photos-choose .select-button p{
	color: #fff;
	font-size: 16px;
	line-height: 35px;
}

/***************************************************弹窗3、**************************************************************/
#Create-Album{
	position: absolute;
    left: 38%;
    top: 31%;
    z-index: 70;
    width: 350px;
    height: 250px;
    bottom: 5%;
    display: none;
    background: #fff;
    border-radius: 0.5%;
}
#Create-Album-input{
	margin-left: 20px;
	height: 40px;
	width: 310px;
}
#Create-Album-input2{
	margin-left: 20px;
	height: 40px;
	width: 310px;
	margin-top:15px;
}
.create-radio{
	margin-left: 20px;
	height: 40px;
	width: 310px;
	margin-top:15px;
}
.Create-Album-button1{
	width: 80px;
	background: #fff;
	border-radius: 0.5%;
	height: 35px;
	margin-left: 150px;
	border: 1px solid #DDD;
	text-align: center;
	position: absolute;
	right: 120px;
	bottom: 24px;
	cursor: pointer;
}
.Create-Album-button1 p{
	line-height: 35px;
}
.Create-Album-button2{
	width: 80px;
	background: #00A8D8;
	border-radius: 0.5%;
	height: 35px;
	position: absolute;
	right: 20px;
	bottom: 24px;
	text-align: center;
	cursor: pointer;
}
.Create-Album-button2 p{
	color: #fff;
	line-height: 35px;
}



/***************************************************弹窗移动分组、**************************************************************/
#choose-group{
	position:absolute;
	left:40%; 
	top:38%;
	z-index: 70;
	width: 350px;
	height: 180px;
	bottom: 5%;
	display: none;
	background: #fff;
	border-radius: 0.5%;
}

.choose-group-ok{
    margin-left: 10px;
    width: 260px;
    height: 40px;
    float: left;
    padding-left: 10px;
    font-size: 18px;
    /*color: #976666;*/
    line-height: 40px;
    color: #000;
}

.choose-group-ok span{
	font-size: 18px;
}
/***************************************************弹窗删除分组、**************************************************************/
#delete-group{
	position:absolute;
	left:40%; 
	top:38%;
	z-index: 70;
	width: 350px;
	height: 180px;
	bottom: 5%;
	display: none;
	background: #fff;
	border-radius: 0.5%;	
}


/***************************************************弹窗删除分组、**************************************************************/
#delete-group{
	position:absolute;
	left:40%; 
	top:38%;
	z-index: 70;
	width: 350px;
	height: 180px;
	bottom: 5%;
	display: none;
	background: #fff;
	border-radius: 0.5%;	
}

/***************************************************相册信息**************************************************************/
#mod-album{
	display: none;
}
.mod-album {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin-left: -250px;
    background: red;
    z-index:150;
}
.mod-album .cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 225px;
    height: 300px;
    overflow: hidden;
    /*background: url(/static/images/bg/lazyload.png) center center no-repeat #F7F7F7;*/
}
.mod-album .cover-link .pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
    height: 300px;
}

.mod-album .cover-link .num-bg {
    position: absolute;
    bottom: 25px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #000;
}
.mod-album .cover-link .num-bg-txt {
    position: absolute;
    bottom: 25px;
    left: 50px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
}
.op30 {
    opacity: 0.3;
}
.op60 {
    opacity: 0.6;
}
.bdRc {

    border-radius: 50%;
}
.f16 {
    font-size: 16px;
}
.mod-album .cover-link .cover-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
    height: 300px;
    background: #000;
    cursor: pointer;
}
.mod-album .cover-link .cover-bg-txt {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 150px;
    height: 100px;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}




.mod-album .info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 350px;
    height: 300px;
    overflow: hidden;
    background: #FFF;
}
.mod-album .info .text {
    height: 244px;
    padding: 0 20px;
    overflow: hidden;
}
.mod-album .info .title {
        height: 78px;
    padding-top: 31px;
    font-size: 26px;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 12px;
}
.mod-album .info .intro {
    height: 137px;
    overflow: hidden;
    text-indent: 14px;
}

.clrB6 {
    color: #666;
}
.lh24 {
    height: 58px;
    overflow: hidden;
    text-indent: 14px;
    margin-top: 30px;
}
.mod-album .info .time {
    padding-top: 5px;
    line-height: 30px;
    text-align: right;
    color: #999;
}


.mod-album .info .fns {
    padding: 10px 20px 0;
}
.mod-album .info .fns .btn-cancel {
    background-position: -5px -765px;
}
.mod-album .info .fns .icoMod {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    color: #CCCCCC;
    line-height: 24px;
}
.mod-album .info .fns i{
	font-size: 28px;
}
.mod-album .info .fns .btn-sure {
    background-position: -5px -805px;
}
.fR {
    float: right;
}

.icoMod{
	cursor: pointer;
}


#mod-text2{
	display: none;
}

.mode-title-p{    margin-top: 60px;}
.mode-theme-p{    margin-top: 20px;}
.mode-album-button2{
	 border: 1px solid #00A8D8;
    position: absolute;
    right: 108px;
    padding: 5px 13px;
    bottom: 73px;
    background: #00A8D8;
    color:#fff;
    cursor: pointer;
}
.mod-radio{
	margin-top:30px;
}
.quanxian{
	color: #333;
    margin-left: 88px;
}


.part{
	font-size: 13px;
	margin-left: 59px; 
	margin-top: 20px;
	color: #8b7d7d;
	cursor: pointer;
	display: none;
}
.part:hover{
	text-decoration: underline;
	
}





