#myAlbum-content{
	display: block;
}
.content-about{
	margin-left: 25px;
	width: 100%;
	background: #FAFAFA;
}
.content-about .friends-content{
    width: 60%;
    height: 85%;
}
.content-about .friends-content .friends-content-li{
    width: 130px;
    text-align: center;
    height: 130px;
    float: left;
}
.content-about .friends-content .friends-content-li img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.content-about .friends-content .friends-content-li p{
    font-size: 16px;
    line-height: 40px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.content-about .friends-header{
    width: 390px;
    height: 50px;
    background: #FFDEAD;
    position: absolute;
    right:0px;
    top:180px;
    font-size: 18px;
    font-family:"华文宋体";
    line-height: 50px;
    text-align: center;
}
.content-about .content-about-menu{
    width:400px;
    height: 400px;
    background:#FFF8DC;
    border: 1px #EEEEEE solid;
    overflow-y:auto;
    right:-10px;
    top:229px;
    position: absolute;
}
.content-about .content-about-menu .content-about-menu-li{
    width: 85%;
    height: 45px;
    border: 1px #FAFAFA solid;
    font-size: 18px;
    font-family:"华文宋体";
    padding-left: 8%;
    padding-right: 8%;
    line-height: 45px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.content-about .content-about-menu .content-about-menu-li:hover{
    background: #FAFAFA;
}