#myAlbum-content{
	display: block;
}
.content-about{
	margin-left: 25px;
	width: 100%;
	background: #FAFAFA;
}
.content-about .friends-about-li{
	width: 150px;
	height: 150px;
	border: 1px solid #EAEAEA;
	margin-right: 25px;
	margin-bottom: 25px;
	float: left;
	cursor: pointer;
	position: relative;
}
.content-about .friends-about-li img{
	width: 100%;
	height: 100%;
}
.content-about .friends-about-li p{
	position: absolute;
	color: #fff;
	font-size: 18px;
	bottom:5px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
.content-about .friends-about-li:hover:p{
	
}