#myAlbum-content{
	display: block;
}
.content-about{
	margin-left: 25px;
	width: 100%;
	background: #FAFAFA;
}
.content-about .friends-content{
    width: 70%;
    height: 85%;
}
.content-about .friends-content .friends-content-li{
    width: 130px;
    text-align: center;
    height: 130px;
    float: left;
}
.content-about .friends-content .friends-content-li img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.content-about .friends-content .friends-content-li p{
    font-size: 16px;
    line-height: 40px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.content-about .friends-header{
    width: 300px;
    height: 50px;
    background: #FFDEAD;
    position: absolute;
    right:0px;
    top:180px;
    font-size: 18px;
    font-family:"华文宋体";
    line-height: 50px;
    text-align: center;
}
.content-about .content-about-menu{
    width:310px;
    height: 400px;
    background:#FFF8DC;
    border: 1px #EEEEEE solid;
    overflow-y:auto;
    right:-10px;
    top:229px;
    position: absolute;
}
.content-about .content-about-menu .content-about-menu-li{
    width: 100%;
    height: 45px;
    border: 1px #FAFAFA solid;
    font-size: 18px;
    font-family:"华文宋体";
    padding-left: 8%;
    padding-right: 8%;
    line-height: 45px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.content-about .content-about-menu .content-about-menu-li:hover{
    background: #FAFAFA;
}
/***********************************弹窗创建分组***************************************************/
#Create-friends{
    position:absolute;
    left:40%;
    top:38%;
    z-index: 70;
    width: 350px;
    height: 180px;
    bottom: 5%;
    display: none;
    background: #fff;
    border-radius: 0.5%;
}
.select-first{
    margin-left: 20px;
    width: 260px;
    height: 40px;
    float: left;
    padding-left: 10px;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    font-size: 18px;
    color: #976666;
    line-height: 40px;
}.select-right{
    width: 50px;
    height: 40px;
    float: left;
    padding-left: 16px;
    line-height: 40px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}
.select-right span{
    color: #E0E0E0;
}
.menu-group{
    width: 310px;
    position: absolute;
    top:105px;
    right: 20px;
    z-index: 150;
    display: none;
}
.menu-group .menu-group-li{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border: 1px #DDD solid;
    font-size: 18px;
    color: #787878;
    line-height: 40px;
    background: #fff;
    cursor: pointer;
}
.menu-group .menu-group-li:hover{
    background: #FAFAFA;
}
.Create-friends-button1{
    width: 80px;
    background: #fff;
    border-radius: 0.5%;
    height: 35px;
    margin-left: 150px;
    border: 1px solid #DDD;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 120px;
    bottom: 24px;
}
.Create-friends-button1 p{
    line-height: 35px;
}
.Create-friends-button2{
    width: 80px;
    background: #00A8D8;
    border-radius: 0.5%;
    height: 35px;
    position: absolute;
    right: 20px;
    bottom: 24px;
    text-align: center;
    cursor: pointer;
}
.Create-friends-button2 p{
    color: #fff;
    line-height: 35px;
}
/***********************************弹窗添加好友***************************************************/
#Create-for-friends{
    position:absolute;
    left:40%;
    top:38%;
    z-index: 70;
    width: 350px;
    height: 180px;
    bottom: 5%;
    display: none;
    background: #fff;
    border-radius: 0.5%;
}
#Create-for-friends-input{
    margin-left: 20px;
    height: 40px;
    width: 310px;
}
/*.Create-friends-button1{*/
    /*width: 80px;*/
    /*background: #fff;*/
    /*border-radius: 0.5%;*/
    /*height: 35px;*/
    /*margin-left: 150px;*/
    /*border: 1px solid #DDD;*/
    /*text-align: center;*/
    /*margin-top: 15px;*/
    /*cursor: pointer;*/
/*}*/
/*.Create-friends-button1 p{*/
    /*line-height: 35px;*/
/*}*/
/*.Create-friends-button2{*/
    /*width: 80px;*/
    /*background: #00A8D8;*/
    /*border-radius: 0.5%;*/
    /*height: 35px;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*bottom: 24px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
/*}*/
/*.Create-friends-button2 p{*/
    /*color: #fff;*/
    /*line-height: 35px;*/
/*}*/