html,body,ul,p{
	margin: 0;
	padding: 0;
}
ul,li,a{
	text-decoration: none;
	list-style: none;
}

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 5;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.header{
	height: 50px;
	/*background: #D18B00;*/
	background:#181818;
	position: relative;
}
.header img{
	height: 50px;
	background: #181818;
	margin-left: 1%;
	float: left;
}
.header .header-right{
	right: 31px;
	height:50px;
	position: absolute;
	border-left: 1px solid #181818;
	text-align: center;
	cursor:pointer
}

.header .header-right .header-menu-li{
	float: right;
	width: 100px;
	height: 50px;
	line-height: 50px;
	/*color: #EBEBEB;*/
	color: #CCCCCC;
}
.header .header-right .my-xiaoxi{
	font-size: 24px;
	color: #CCCCCC;
	margin-right: 5px;
}
.header-right2{
	width: 30px;
	right: 0;
	line-height: 50px;
	position: absolute;
	border-left: 1px solid #181818;
	text-align: center;
	cursor:pointer
}
.header .header-right2 span{
	color: #CCCCCC;
}
.content{
	width: 100%;
	height: 100%;
}
/***************************left********************************/
.content .left{
	border-top: 1px solid #181818;
	width: 225px;
	height: 100%;
	float: left;
	background:#181818;
	position: relative;
	border-right: 1px solid #E9E9E9;
}
.content .left .left-admin{
	/*border-bottom: 1px solid #E9E9E9;*/
	border-bottom: 1px solid #1C1C1C;
	padding-bottom: 15px;
	cursor:pointer;
	display: block;
	text-align: center;
}
.content .left .left-admin img{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-top: 50px;	
}
.content .left .left-admin p{
	color: #CCCCCC;
	font-size: 12px;
	margin-top: 12px;
}
.content .left .left-li{
	border-bottom: 1px solid #1C1C1C;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 60px;
	cursor:pointer;
	display: block;
}
.content .left .left-li i{
	color: #CCCCCC;
}
.content .left .left-li span{
	/*color: #454545;*/
	color:#CCCCCC;
	margin-left: 15px;
	text-align: center;
	font-size: 16px;
}
.content .left .left-li:hover{
	background: #151515;
}
.content .left  .nav-button{
	width: 225px;
	height: 40px;
	/*background: red;*/
	bottom: 0;
	position: fixed;
	z-index: 5;
}
/*********************main-container*********************************/
.content .main-container{
	margin-left: 225px;
	height: 100%;
	background: #fff;
	overflow-y:auto;
	background: #FAFAFA;
}
.content-header{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #EEEEEE;
	padding-top: 15px;
	padding-left: 20px;
	background: #fff;
}
.content-header i,span{
	color: #D84C31;
	font-size: 24px;
}
.content-header span{
	margin-left: 10px;
	cursor: pointer;
}
.content-header span:hover{
	border-bottom: 2px solid #D84C31;
}

.content-menu{
	width: 100%;
	height: 39px;
	border-bottom:1px solid #EEEEEE;
	background: #fff;
}
.content-menu-li{
	float: left;
	margin-left: 20px;
	height: 100%;
	color: #9999A6;
	cursor: pointer;
}
.content-menu-li a{
	margin-top: 12px;
	display: block;
}
.content-menu-li:hover{
	color: #000;
	border-bottom: 2px solid #D84C31;
}
.content-wrap{
	width: 100%;
	height: 85%;
	background: #FAFAFA;
	padding-top: 30px;
}
/*.content-about{
	margin-left: 30px;
	margin-top: 30px;
	width: 100%;
	display: none;
}
.content-about2{
	margin-left: 30px;
	margin-top: 30px;
	width: 100%;
	display: block;
}
*/
#admin-button{
	display: none
}
/*
.admin-button{
	position: absolute;
	right: 10px;
	line-height: 44px;
}
*/
.admin-button-li{
	height: 30px;
	background: #D84C31;
	color: #fff;
}
.album-sort2{
	width: 110px;
    margin-top: 6px;
    position: absolute;
	z-index:100;
	display: none;
	right:86px;
}
.album-sort2 .album-sort-li{
	border: 1px solid #CCCCCC;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	background: #fff;
	color: #9999B1;
	cursor: pointer;

}
.uploadPhoto7:hover .album-sort2{
	display: block;
}
.album-sort2 .album-sort-li:hover{
	color: #000;
}

/***************************************************footer、**************************************************************/
.content-button{
	width: 100%;
	float: left;
	text-align: center;
	bottom: 50px;
	margin-top: 25px;
}
.content-button .content-button-fenge{
	height: 1px;
	width: 100%;
	background: #E8E8E8;
	float: left;
}
.content-button span{
	text-align: center;
	font-size: 12px;
	color: #99B3D4;
}	
.content-footer{
	height: 80px;
	width: 100%;
	float: left;
}
.content-footer2{
	height: 100px;
	width: 100%;
	float: left;
}
/***************************************************弹窗2、**************************************************************/
.popup-header{
	height: 50px;
}
.popup-header h4{
	margin-top: 16px;
	font-size: 20px;
	padding-left: 15px;
	line-height: 35px;
	border-left: 3px solid #D84C31;
	width: 250px;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.popup-header i{
	font-size: 16px;
	position: absolute;
	right: 15px;
	top: 20px;
	color: #909090;
	cursor: pointer;
}

/***************************************************遮罩层、**************************************************************/
#popLayer{
	display: none;
}
.popLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index:40;
    background:#000;
    opacity:0.9;
}
#popLayer2{
	display: none;
}
.popLayer2{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index:60;
    background:#000;
    opacity:0.7;
}
/************************************************************friendsVerification********************************************/
#Verification{
	display: none;
}
.Verification{
	position: absolute;
    left: 17%;
    top: 5%;
    z-index: 50;
    width: 64%;
    height: 92%;
    bottom: 5%;
	z-index: 50;
}
.Verification-header{
	height: 60px;
	width: 100%;
	background: #fff;
	border:1px solid #EEE;
}
.Verification-header span{
	font-size: 24px;
	line-height: 60px;
	margin-left: 10px;
}
.Verification-header i{
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	right: 15px;
	line-height: 60px;
	color: #CCCCCC;
	cursor: pointer;
}
.Verification-about{
    padding: 30px;
    height: 85%;
    width: 100%;
	background: #fff;
	border:1px solid #EEE;
	overflow-y:auto;
}
.Verification-table{
    width: 100%;
}
.Verification-table th{
    border:1px solid #EBEBEB;
    padding-left: 10px;
    font-weight: normal;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    line-height: 40px;
/*    width: 300px;*/
    background: #FFF8DC;
	min-width: 160px;

}
.Verification-table td{
	border:1px solid #EBEBEB;
    padding:5px 10px;
    font-weight: normal;
    font-size: 16px;
    color: #666;
    background: #fff;
    cursor: pointer;
/*    width: 300px;*/
    /*height: 40px;*/
}
#send-Verification{
	display: none;
}

.delete{
	background: #D84C31;
	color: #fff
}


/****************************************************接受好友**********************************************************/

#accept-friends{
	display: none;
}
.accept-friends{
	position:absolute;
	left:40%; 
	top:38%;
	z-index: 70;
	width: 350px;
	height: 180px;
	bottom: 5%;
	background: #fff;
	border-radius: 0.5%;
	z-index: 150;
}
.select-first1{
	margin-left: 20px;
	width: 260px;
	height: 40px;
	float: left;
	padding-left: 10px;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	font-size: 18px;
	color: #976666;
	line-height: 40px;
}

 .select-right1{
	width: 50px;
	height: 40px;
	float: left;
	padding-left: 16px;
	line-height: 40px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.select-right1 span{
	color: #E0E0E0;
}

.menu-group1{
	width: 310px;
	position: absolute;
	top:105px;
	right: 20px;
	z-index: 150;
	display: none;
}
.menu-group1 .menu-group-li1{
	width: 100%;
	padding-left: 10px;
	height: 40px;
	border: 1px #DDD solid;
	font-size: 18px;
	color: #787878;
	line-height: 40px;
	background: #fff;
	cursor: pointer;
}
.menu-group1 .menu-group-li1:hover{
	background: #FAFAFA;
}
.default-button1{
	width: 80px;
	background: #fff;
	border-radius: 0.5%;
	height: 35px;
	margin-left: 150px;
	border: 1px solid #DDD;
	text-align: center;
	position: absolute;
	right: 120px;
	bottom: 24px;
	cursor: pointer;
}
.default-button1 p{
	line-height: 35px;
}
.default-button2{
	width: 80px;
	background: #00A8D8;
	border-radius: 0.5%;
	height: 35px;
	position: absolute;
	right: 20px;
	bottom: 24px;
	text-align: center;
	cursor: pointer;
}
.default-button2 p{
	color: #fff;
	line-height: 35px;
}

/****************************************************接受好友**********************************************************/

#accept-friends{
	display: none;
}
.accept-friends{
	position:absolute;
	left:40%; 
	top:38%;
	z-index: 70;
	width: 350px;
	height: 180px;
	bottom: 5%;
	background: #fff;
	border-radius: 0.5%;
	z-index: 150;
}
.select-first1{
	margin-left: 20px;
	width: 260px;
	height: 40px;
	float: left;
	padding-left: 10px;
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	font-size: 18px;
	color: #976666;
	line-height: 40px;
}
.select-first1-ok{
	margin-left: 20px;
	width: 260px;
	height: 40px;
	float: left;
	padding-left: 10px;
	font-size: 18px;
	color: #976666;
	line-height: 40px;
}
.select-first1-ok span{
	font-size: 18px;
}
 .select-right1{
	width: 50px;
	height: 40px;
	float: left;
	padding-left: 16px;
	line-height: 40px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.select-right1 span{
	color: #E0E0E0;
}

.menu-group1{
	width: 310px;
	position: absolute;
	top:105px;
	right: 20px;
	z-index: 150;
	display: none;
}
.menu-group1 .menu-group-li1{
	width: 100%;
	padding-left: 10px;
	height: 40px;
	border: 1px #DDD solid;
	font-size: 18px;
	color: #787878;
	line-height: 40px;
	background: #fff;
	cursor: pointer;
}
.menu-group1 .menu-group-li1:hover{
	background: #FAFAFA;
}
.default-button1{
	width: 80px;
	background: #fff;
	border-radius: 0.5%;
	height: 35px;
	margin-left: 150px;
	border: 1px solid #DDD;
	text-align: center;
	position: absolute;
	right: 120px;
	bottom: 24px;
	cursor: pointer;
}
.default-button1 p{
	line-height: 35px;
}
.default-button2{
	width: 80px;
	background: #00A8D8;
	border-radius: 0.5%;
	height: 35px;
	position: absolute;
	right: 20px;
	bottom: 24px;
	text-align: center;
	cursor: pointer;
}
.default-button2 p{
	color: #fff;
	line-height: 35px;
}

/********************************buttom********************************************/

#move-friends{
	display: none;
}
#delete-friends-pop{
	display: none;
}
#delete-album{
	display: none;
}

.friendNumber{
	border: 0px solid white;
    width: 20px;
    background: red;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    right: 61px;
    top: 7px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
/********************************************************为空******************************************************/
.content-about5{
	text-align: center;
	padding-top: 5%;
}
.content-about5 img{
	width:180px;
	height:150px;
}
.content-about5 p{
	color: #9a8c8c;
    font-size: 20px;
    margin-top: 10px;
}

#noNumber{
	display:none
}
#noNumber2{
	display:none
}


.lvjing{
	position: absolute;
    text-align: center;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.table-header5{
    display: none;
    padding-left: 15px;
    width: 250px;   
    height: 39px;
    float: right;
    line-height: 36px;
}
 .table-header5-li{
	color:#D84C31;
	float:left;
	margin-right:10px;
	cursor:pointer;
	margin-top: 5px;
}
.table1{
	display:none;
}
.table2{
	display:none;
}
.friends1{
	display:none;
}