<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.0.xsd">


    <!-- 扫描controller所在的包 -->
    <context:component-scan base-package="cn.yznu.pca.controller"/>
    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>
    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>
    <!-- 资源路径配置 -->
    <mvc:resources location="/resource/js/" mapping="/js/**" />
    <mvc:resources location="/resource/css/" mapping="/css/**" />
    <mvc:resources location="/resource/images/" mapping="/images/**" />
    <mvc:resources location="/resource/img/" mapping="/img/**" />
    <!--<mvc:resources location="/resource/" mapping="/resource/**/*.*" />-->


    <mvc:interceptors>
        <!-- 检查用户权限，对于部分不需要权限的路径进行排除 -->
        <mvc:interceptor>
            <!-- 先匹配所有路径，然后排除不需要检查的路径 -->
            <mvc:mapping path="/**/**" />
            <!-- 与登录相关的请求 -->
            <mvc:exclude-mapping path="/user/login" />
            <mvc:exclude-mapping path="/user/index" />
            <mvc:exclude-mapping path="/user/register" />
            <mvc:exclude-mapping path="/user/resetPass" />
            <mvc:exclude-mapping path="/user/getpass" />
            <mvc:exclude-mapping path="/user/checkLogin" />
            <mvc:exclude-mapping path="/user/doRegister" />
            <mvc:exclude-mapping path="/user/activate" />
            <!-- 以下是静态资源 -->
            <mvc:exclude-mapping path="/resource/images/**" />
            <mvc:exclude-mapping path="/resource/img/**" />
            <mvc:exclude-mapping path="/resource/css/**" />
            <mvc:exclude-mapping path="/bootstrap/**" />
            <mvc:exclude-mapping path="/resource/js/**" />
            <!-- 用户是否已经登录的检查 -->
            <bean id="loginInterceptor" class="cn.yznu.pca.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>


    <!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 文件大小最大值 -->
        <property name="maxUploadSize" value="10485760000"/>
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="40960"/>
        <!-- 启用是为了推迟文件解析，以便捕获文件大小异常 -->
        <property name="resolveLazily" value="true"/>
    </bean>

    <!-- 定义跳转的文件的前后缀 ，视图模式配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--cron定时器配置-->
    <task:annotation-driven />

    <bean id="baseTransaction"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
        <property name="transactionManager" ref="transactionManager"/>
<!--        <property name="target" ref="imageController" ></property>-->
        <!--没有设置目标类,要把事务设置在DAO的话,就这样写,另外配置个bean就可以了-->
        <property name="transactionAttributes">
            <props> <prop key="*">PROPAGATION_REQUIRED</prop> </props>
        </property>
    </bean>
</beans>